#header{
	width: 100%;
	/*height: 160px;*/
}

#bloc_page ul li{
	display: inline-block;
    margin: 25px;
}

#bloc_page{
	width:75%;
	margin: 0 auto;
}

#homeheader{
	text-align: center;
}

small{
	font-style: italic;
}

#signature{
	float: right;
}

#artimage {
	height: 500px;
	width: 100%;
	margin: 0 auto;
}