{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}


{% include 'base.html'%}
{% block content %}


<div id="bloc_page">

<h3>{{ title }}</h3>
<hr>
{% for article in list_of_articles %}

<div class="media">
  <div class="media-left">
    <a href="/get/{{ article.id }}">
      <img class="media-object" src="{{ chosen_article.image.url }}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="/get/{{ article.id }}">{{ article.article_title }}</a></h4><!-- <small>{{ chosen_article.pub_date }}</small> -->
    <p>{{ article.article_content|lower|truncatewords:100 }}</p>
    <div id="like_count_out">
			   <p> {{ article.likes }} <i class="fa fa-thumbs-up"></i></p>
			   <p> {{ article.comment_set.count }} <i class="fa fa-comments-o"></i></p>
			   <p> {{ article.share }} <i class="fa fa-share"></i></p>   
			  </div>
  </div>
</div>

{% endfor %}
<hr>

</div>

{% endblock %}
