{% extends 'base.html' %}

{% block title %} {{ chosen_article.article_title }} {% endblock %}


{% include 'base.html'%}
{% block content %}


<div id="bloc_page">

<div class="panel panel-default">
    
     <div class="panel-body">
           
		<div class="page-header">
			<h3>{{ chosen_article.article_title }} <small>{{ chosen_article.pub_date }}</small></h3>
			</div><!--end class page-header-->

			<img class="featuredImg" src="{{ chosen_article.image.url }}" width="100%">
			<hr>

			<p>{{ chosen_article.article_content}}</p>
			
			<div id="signature">{{ chosen_article.author }}</div>
			<hr>
			<div class="feedback">
				<ul>
				{% if request.user.is_authenticated %}
					<a href="#"><li> Like </li></a>
					<a href="#"><li> Comment </li></a>
					<a href="#"><li> Share </li></a>
					{% else %}
					<a href="#" data-toggle="modal" data-target="#myModal-1"><li> Like </li></a>
					<a href="#" data-toggle="modal" data-target="#myModal-1"><li> Comment </li></a>
					<a href="#" data-toggle="modal" data-target="#myModal-1"><li> Share </li></a>

						<div class="modal fade" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
									<h4 class="modal-title" id="myModalLabel">Login</h4>
									<hr>
									<form method="post" action="">
											  {% csrf_token %}
											    <input type="text" name="username" placeholder="Username">
												<br/><br/>
												<input type="password" name="password" placeholder="password">
												<br/><br/>
												<input type="submit" class="btn btn-primary" value="Log in">
												<!-- <br>
												<small style="color:red;">{{ error }}</small>  -->
											</form>
									<hr>
										<div class='row'>
											<div class='col-sm-6 col-sm-offset-3 text-align-center'>
												<p><a href="">Forgot password</a></p>
												<p><a href="">Not a member ? Sign up Here</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</ul>
				<hr>
			</div>


    



     </div><!--end class panel-body-->


</div><!--end class panel-->

</div>

{% endblock %}
