{% extends 'base.html' %}

{% block title %} | Home {% endblock %}


{% include 'base.html'%}
{% block content %}


<div id="bloc_page">
<hr>

<div id="row">
	<div id="main_news">

	</div>

	<div id="space">
	&nbsp;
	</div>

	<div id="newstime">
		
	</div>
</div> <!-- end of first row -->
<hr>
<div id="row">
    <div id="annoucement">
    	
    </div>

    <div id="space">
	&nbsp;
	</div>

	<div id="media">
		
	</div>
	
</div> <!-- end of row -->
<br/><br/>
<div id="pub">
	
</div>

</div> <!-- end of bloc_page -->

{% endblock %}