{% extends 'base.html' %}

{% block title %} COBSA | Login {% endblock %}


{% include 'base.html'%}
{% block content %}


<div id="bloc_page">
<div id="homeheader">
<h2>{{ message }}</h2>
<br/>
<form method="post" action="">
  {% csrf_token %}
    <input type="text" name="email" placeholder="Username">
	<br/><br/>
	<input type="password" name="password" placeholder="password">
	<br/><br/>
	<input type="submit" class="btn btn-primary" value="Log in">
</form>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p><a href="">Forgot password</a></p>
<p><a href="">Not a member ? Sign up Here</a></p>
</div>
</div>

</div>

{% endblock %}