{% extends 'base.html' %}

{% block title %} | Login {% endblock %}


{% include 'base.html'%}
{% block content %}


<div id="bloc_page">
<div id="homeheader">
<h2>{{ message }}</h2>
<br/>
<form method="post" action="">
  {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
	<br/><br/>
	<input type="password" name="password" placeholder="password">
	<br/><br/>
	<input type="submit" class="btn btn-primary" value="Log in">
	<!-- <br>
	<small style="color:red;">{{ error }}</small>  -->
</form>
</div>

<hr>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<a href=""><p>Forgot password</p></a>
<a href=""><p>Not a member ? Sign up Here</p></a>

</div>
</div>

</div>

{% endblock %}